body {
  background-color: yellow;
}

.board {
  display: flex;
  justify-content: space-between;
  padding: 10% 10%;
}

.player-one {
  border: solid black 2px;
  margin-right: 2%;
}

.player-two {
  border: solid blue 2px;
  margin-left: 2%;
}

.cell {
  width: 10%;
}

.selected {
  border: solid red 2px;
}

.buttons {
  text-align: center;
}

.PlaceShips {
  text-align: center;
}